@model List<Terme.Core.Domain.Categories.Entities.Category>
@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = _resourceManager[SharedResource.Categories];
}

<div class="container py-4">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <i class="fa fa-save"></i>
                @_resourceManager[SharedResource.Categories]
            </h5>
        </div>
        <div class="card-body">
            <ul class="list-unstyled p-0 m-0">
                @foreach (var item in Model)
                {
                    <li>
                        @item.Name
                        @if (item?.Children?.Any() == true)
                        {
                            <ul>
                                @foreach (var child in item.Children)
                                {
                                    <li>
                                        @child.Name
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>



